.service__outer-wrapper {
    background-color: white;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    width : 100%;
    height : 44em;
    border-radius : var(--container-border-radius);
    border-collapse: collapse;
}

.fancy__servicetext {
    font-size: 6em;
    font-weight: 600;
  line-height: .75em;
}

.image__wrapper-left {
    background-image: url('https://ik.imagekit.io/gunadev/Dental/teethgraphics.jpg?updatedAt=1722358543803');
    background-size : 28em;
    background-position: top;
    background-repeat: no-repeat;
}

.image__wrapper-right {
    background-image: url('https://ik.imagekit.io/gunadev/Dental/teethgraphics.jpg?updatedAt=1722358543803');
    background-size : 35em;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sub__heading {
    line-height: .4em;
}

.sub__heading-service-wrapper-400{
    inline-size: 20px;
   
}

.outer__wrapper-right {
    background-image: url('https://ik.imagekit.io/gunadev/Dental/servicegraphic.jpg?updatedAt=1722358544078');
    background-size: 80em;
    background-position: top;
    background-repeat: no-repeat;
}

.left__top-service-wrapper {
    background-color : var(--theme-primary-color);
}

.left__bottom-service-wrapper {
    background-color: #E1E9ED;
}

.sub__heading-service-wrapper-600 {
    inline-size: 10em;
    overflow-wrap: break-word;
}

.service__card-wrapper {
    background-color : rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color : white;
}

.service__card-wrapper[data-key="0"] {
    background-color: white;
    color:black;
}

.card__service-arrow {
    rotate: 90deg;
    font-size: 1.5em;
    color : white;
    position : relative
}

.service__card-wrapper[data-key="0"]:has(.card__service-arrow) .card__service-arrow {
    color : black
}

.card__service-arrow::before {
    content : '';
    height : 30px;
    width : 30px;
    position : absolute;
    top : 0;
    left:-20%;
    border : 1px solid white;
    border-radius: 50px;
}

.service__card-wrapper[data-key="0"]:has(.card__service-arrow) .card__service-arrow::before {
    border : 1px solid black;
}



@media (max-width : 1025px ){
    .image__wrapper-left {
        background-size: 50em;
    }
    .image__wrapper-right{
        background-size: 47em;
    }
   
}


@media (max-width : 992px ){

    .service__outer-wrapper {
        height : 48em;
    }

    .image__wrapper-left{
        background-size : 38em;
      
    }

    .sub__heading-service-wrapper-400{
        inline-size: 150px;
       
    }

    .service__card-wrapper {
        background-color : rgb(0, 0, 0, 0.2);
    }

    
    .sub__heading {
        line-height: .2em;
    }
}

@media (max-width : 640px ){
    .fancy__servicetext {
        font-size: 5em;
        font-weight: 600;
      line-height: .75em;
    }
}

@media (max-width : 428px ) {
    .service__outer-wrapper {
        height : 50em;
        
    }



    .fancy__servicetext {
        font-size: 4em;
    }

    .sub__heading-service-wrapper-600{
        inline-size: 7em;
    }

    

}